@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.first {
    background-color: black;
    color: white;
    padding: 3px;
    margin: 2px;
    width: 50vw;
    border-radius: 5px;
}

h1 {
    padding-left: 12px;
}

.bg {
    background-color: white;
    display: flex;
}

.first1 {
    background-color: black;
    color: white;
    padding: 3px;
    margin: 2px;
    width: 30vw;
    border-radius: 5px;
}

.first2 {
    background-color: black;
    color: white;
    padding: 3px;
    margin: 2px;
    width: 70vw;
    border-radius: 5px;
}

.first3 {
    background-color: black;
    color: white;
    padding: 3px;
    margin: 2px;
    width: 100vw;
    border-radius: 5px;
}